.main__title {
    font-size: 38px;
    line-height: 50px;
    margin: 0;
    
}

@media screen and (max-width: 320px) {
    .main__title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 30px;
    }
}