.card__underline {
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
    margin-top: 25px;
}

.card__underline-doble {
    position: relative;
    margin-top: -1px;
}

.card__underline-black {
    position: relative;
    opacity: 1;
    width: 50px;
    margin-top: 0px;
}